body { 
    margin: 0;
    padding: 0;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}



/* ————————————————————–
  Tree core styles
*/
.tree { margin: 1em; }
 
.tree input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  }
 
.tree input ~ ul { display: none; }
 
.tree input:checked ~ ul { display: block; }
 
/* ————————————————————–
  Tree rows
*/
.tree li {
  line-height: 1.2;
  position: relative;
  padding: 0 0 1em 1em;
  }
 
.tree ul li { padding: 1em 0 0 1em; }
 
.tree > li:last-child { padding-bottom: 0; }
 
/* ————————————————————–
  Tree labels
*/
.tree_label {
  position: relative;
  display: inline-block;
  }
 
label.tree_label { cursor: pointer; }
 
label.tree_label:hover { color: #666; }
 
/* ————————————————————–
  Tree expanded icon
*/
label.tree_label:before {
  background: green;
  color: #fff;
  position: relative;
  z-index: 1;
  float: left;
  margin: 0 1em 0 -2em;
  width: 1em;
  height: 1em;
  border-radius: 1em;
  content: '+';
  text-align: center;
  line-height: .9em;
  }
 
:checked ~ label.tree_label:before { content: '–'; background: red;}
